body {
background-image: url(../Images/Background1.png);
background-position: center; 
height: 100%;
background-size: cover;
background-repeat: no-repeat;
}

h1 {
	left: 50%;
	font-size: 25px;
	line-height: 1.3em;
	color: #F8F9FB;
}

p {
	font-size: 25px;
	line-height: 1.3em;
	color: #F8F9FB;
}

div.header {
	position: absolute;
	top: 0;
	left: 0.5%;
	float: left;
}

img {
margin 0;
}

div.info {
height: 10em;
margin: 0;
position: absolute;
top: 30%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)
}